.socialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  list-style: none;
  font-size: 3rem;
  gap: 20px;
  transition: all 0.1s;
}

.socialContainer svg:hover {
  transition: all 0.1s;
  transform: scale(1.1);
}
