@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap");
html,
body {
  background: #121212;
  color: white;
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: white;
}

h1 {
  text-align: center;
  font-size: 3rem;
}
.page-container {
  max-width: 1000px;
  margin: 0 auto;
}
.shrink {
  max-height: 0px !important;
}

.recipe-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

@media (max-width: 800px) {
  .recipe-container {
    grid-template-columns: 1fr 1fr;
  }
}
