.recipeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .recipeContainer {
    grid-template-columns: 1fr 1fr;
  }
}
