.recipeContainer {
  background: var(--main-color);
  width: 500px;
  max-width: 100%;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
}

.recipeContainer h2 {
  font-size: 2rem;
  font-weight: black;
}

.ingredientsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.ingredientsContainer span {
  background: var(--buttons);
  padding: 4px 10px;
  border-radius: 20px;
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1rem;
  overflow-y: scroll;
  max-height: 400px;
  padding: 10px;
}
.instructionsContainer div {
  padding: 10px;
  border-radius: 10px;
}
.instructionsContainer div span {
  display: block;
  background: var(--buttons);
  padding: 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.recipeThumbnail {
  background: var(--main-color);
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.recipeThumbnail h3 {
  font-size: 1.3rem;
}
.recipeThumbnail:hover {
  transform: scale(1.03);
  transition: 0.1s all;
}

.recipeBar {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  font-size: 1.6rem;
}
.recipeBar svg {
  cursor: pointer;
}
